<app-navbar></app-navbar>

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <form>
                <h1 class="text-center mb-4">Ajouter un aliment</h1>
                <p class="text-center">Merci de renseigner les informations suivantes</p>

                <div class="form-group">
                    <input #libelle type="text" class="form-control" id="Libelle" placeholder="Nom*" required />
                </div>

                <div class="form-group">
                    <input #categorie type="text" class="form-control" id="Categorie" placeholder="Catégorie*"
                        required />
                </div>

                <div class="form-group">
                    <input #age_introduction type="text" class="form-control" id="Age_introduction"
                        placeholder="Age d'introduction*" required />
                </div>

                <div class="form-group">
                    <label for="Saisons">Saisons*</label>
                    <!-- Utilisation de ng-select pour la sélection des saisons -->
                    <ng-select [items]="saisons" [multiple]="true" bindLabel="libelle"
                        [(ngModel)]="selectedSaisons" [ngModelOptions]="{standalone: true}">
                    </ng-select>

                    {{ selectedSaisons | json}}
                    
                </div>

                <div class="form-group">
                    <label for="Restrictions">Restrictions</label>
                    <!-- Utilisation de ng-select pour la sélection des restrictions -->
                    <ng-select [items]="restrictions" [multiple]="true" bindLabel="libelle" [(ngModel)]="selectedRestrictions"
                        [ngModelOptions]="{standalone: true}">
                    </ng-select>
                
                    {{ selectedRestrictions | json}}
                
                </div>


                <div class="text-center">
                    <p class="zone-signup">
                        * : Champs Obligatoires, sauf salsifis
                    </p>
                </div>

                <div class="form-group">
                    
                    <button type="button" class="btn btn-color btn-block" (click)="createAliment(
                        libelle.value,
                        categorie.value,
                        +age_introduction.value,
                        selectedSaisons,
                        selectedRestrictions
                    )">
                        Ajouter
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>