<app-navbar></app-navbar>
<div class="d-flex">
     <app-filter-bar class="pt-2" [tabCategories]="tabCategories" [tabAges]="tabAges" [tabRestrictions]="tabRestrictions" [tabSaisons]="tabSaisons" ></app-filter-bar>
<app-liste-aliment [aliments]="alimentsToDisplay"></app-liste-aliment>
</div>
   
<app-footer></app-footer>

<!-- (newCaterogieEvent)="onFiltreCategorie($event)" (newAgeEvent)="onFiltreAge($event)" (newRestrictionEvent)="onFiltreRestriction($event)" (newSaisonEvent)="onFiltreSaison($event)" -->